# Dependencies
node_modules
package-lock.json
yarn.lock

# Build output
dist
build
.next
out

# Logs
*.log
logs

# Environment files
.env
.env.*

# IDE
.vscode
.idea

# Test coverage
coverage

# Git
.git
